*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
p{
    background-color: red;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}

p:hover{
    background-color: blue;
    color: #fff;
    border-radius: 10px;
    font-size: 80px;
}


div{
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    margin: 150px auto;
    transition: 1s;
}

div:hover{
   transform: skew(180deg,90deg);
   border-radius: 50%;
} */

.main{
    width: 400px;
    height: 300px;
    margin: 150px auto;
    position: relative;
    transition: 1s;
    clip-path: inset(0 0 0 0);

}

img{
    width: 100%;
    height: 100%;
}
.fon{
    background-color: rgba(109, 109, 207,0.6);
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 45px;
    font-weight: bold;
    /* opacity: 0; */
border-radius: 0 0 100% 0;
    transition: 0.5s;
}

.fon2{
    background-color: rgba(109, 109, 207, 0.944);
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 45px;
    font-weight: bold;
    /* opacity: 0; */
border-radius: 0 0 100% 0;
    transition: 0.5s;
}
.main:hover .fon{
    opacity: 1;
    color: #fff;
} 


.main:hover .fon{
   height: 50%;
   width: 50%;

}

.main:hover .fon2{
    height: 20%;
    width: 20%;
 
 }
 

 i{
    color: red;
    font-size: 75px;
 }

 a:link{
    color: red;
 }
 a:visited{
    color: green;
 }
 a:active{
    color: blue !important;
 }
 a:hover{
    color: pink;
 }

input:focus{
    border: 1px solid red;
    color: red;
}

input:focus-visible{
    outline: none;
}